@import url("https://fonts.googleapis.com/css2?family=Workbench&display=swap");
:root {
  --purple: rgb(180, 0, 255);
  --yellow: rgb(255, 240, 120);
  --green: rgb(80, 255, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #444, #111);
  color: #ddd;
  font-family: "Workbench", sans-serif;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
}

.hours-box,
.minutes-box,
.seconds-box,
.hours,
.minutes,
.seconds {
  display: flex;
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.hours-box,
.minutes-box,
.seconds-box {
  justify-content: center;
  align-items: center;
  width: 40px;
  justify-self: flex-start;
  align-self: center;
  translate: -1rem;
}

.hours {
  height: 200px;
}

.minutes {
  height: 300px;
}

.seconds {
  height: 400px;
}

/* mobile */

@media (max-width: 768px) {
  .clock {
    height: 200px;
  }
  .hours-box,
  .minutes-box,
  .seconds-box {
    width: 30px;
  }
  .hours {
    height: 150px;
  }
  .minutes {
    height: 200px;
  }
  .seconds {
    height: 250px;
  }
}

/* desktop */

@media (min-width: 769px) {
  .clock {
    height: 400px;
  }
  .hours-box,
  .minutes-box,
  .seconds-box {
    width: 50px;
  }
  .hours {
    height: 250px;
  }
  .minutes {
    height: 350px;
  }
  .seconds {
    height: 450px;
  }
}
